# Hidden folders
**/\.*/
# Hidden files (except ".gitignore")
**/\.*
!\.gitignore

# Maven
**/target/

# Windows
**/Thumbs.db

# IntelliJ IDEA
**/*\.iml
**/*\.ipr
**/*\.iws

# VAADIN
**/src/main/webapp/VAADIN/widgetsets/
**/src/main/webapp/VAADIN/themes/*/styles.css
**/src/main/webapp/VAADIN/themes/*/addons.scss