# Hidden folders
**/\.*/

# Hidden files (except ".gitignore")
**/\.*
!\.gitignore

# Maven
**/target/
**/target-*/

# Windows
**/Thumbs.db

# IDEs
**/*\.iml
**/*\.ipr
**/*\.iws
**/*\.project
**/*\.settings/
**/*\.vscode/

# VAADIN
**/src/main/webapp/VAADIN/widgetsets/
**/src/main/webapp/VAADIN/themes/*/styles.css
**/src/main/webapp/VAADIN/themes/*/addons.scss